.button {
  text-align: center;
  font-family: "Nunito", sans-serif !important;
  font-weight: 700;
  text-transform: uppercase;
  color: #e32424;

  border: none;
  border-radius: 40px;
 

 
  background-color: #f5d5d5;
}

.buttonContainer {
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
