@import "variables";

@import "./mixins";

.button {
  @include flex;
  cursor: pointer;
  text-align: center;
  font-family: "Nunito", sans-serif !important;
  text-transform: uppercase;
  padding: 1em;
  margin: 10px;
  border: none;
  
  
  border-radius: 50%;
  border: none;
  color: $tomato;
  background-color: $white;


  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:hover {
  background-color: darken( $white, 4%);

}

.buttonContainer {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.pause, .unpause {
  margin-bottom: 2.5rem;
}