@import "variables";

@import "./mixins";

.button {
  @include flex;
  cursor: pointer;
  text-align: center;
  font-family: "Nunito", sans-serif !important;
  text-transform: uppercase;
  padding: 1em;
  margin: 10px;
  border: none;
  
  
  border-radius: 50%;
  border: none;
  color: $tomato;
  background-color: $white;


 
}

.button:hover {
  background-color: darken( $white, 4%);
}

.button:focus {
  outline: none;
  
}

.buttonContainer {
  margin-top: 4rem;
  margin-bottom: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.pause, .unpause {
  margin-bottom: 2.5rem;
}