@import "variables";

@import "./mixins";

.button {
  @include flex;

  text-align: center;
  font-family: "Nunito", sans-serif !important;
  text-transform: uppercase;
  padding: 1em;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  color: $tomato;
  background-color: #f5d5d5;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
