@use "./button";
@use "./timer";

$breakpoint-tablet: 600px;
$tomato-color: #f0482a;

@mixin flex {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

body {
  //reset
  margin: 0;
  padding: 0;
}

.main {
  @include flex;

  section {
    @include flex;
    background-color: $tomato-color;

    width: 32rem;

    @media (max-width: $breakpoint-tablet) {
      width: 100%;
    }
  }
}
