@import "variables";
@import "./mixins";

@import "./button.module";
@import "./timer";
@import "./progress";

html,
body {
  margin: 0;
  height: 100%;
  overflow-x: hidden !important;
  overflow-y: hidden !important;
}

body {
  //reset
  margin: 0;
  padding: 0;

  @include flex;
  height: 100vh;
  background-color: $tomato;
}

.main-container {
  @include flex;
  height: 100vh;
  width: 30rem;

  @media (max-width: $breakpoint-tablet) {
    width: 100vw;
  }
}
